/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color:#fff;
}

nav {
  display: flex;
  width: 100%;
  height: 80px;
  line-height: 80px;
  justify-content: space-around;
  z-index: 111;
}
.logo {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f1948a;
}
.navitems {
  display: flex;
}

.navitems li {
  list-style: none;
  margin: 0 15px;
}

.navitems li a {
  font-size: 25px;
  color: #f1948a;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}

.navitems li:hover a {
  color: rgb(118, 82, 151);
  letter-spacing: 0.2px;
}

.links a {
  font-size: 30px;
  color: #f1948a;
  margin: 25px 10px;
  transition: all 0.3s;
}

.links a:hover {
  color: rgb(118, 82, 151);
  letter-spacing: 0.2px;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    
}

.topline:after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
}

h1{
    display: block;
    font-size: 7em;
    font-weight: 200;
    color: #f1948a;
}

.multitext{
    color: rgb(118, 82, 151);
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #333;
}
.btn{
    width: 100%;
    position: relative;
    left: 150px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    background-color: #f1948a;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: all 0.3s;

}
button:hover{
  
    background-color: rgb(118, 82, 151);
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;

}

.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    
    animation: animationuser 4s linear infinite;
    padding-top: 20px;
}

@keyframes animationuser {
    50%{
        right: 30px;
        top: -90px;
    }
}